In [1]:
import requests
import pandas as pd
from time import sleep
import numpy as np
from tqdm import tqdm

from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.options import Options

from bs4 import BeautifulSoup
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('datos/ciudades_1v.csv')
df.head(5)

         ciudad codigo_iata ciudad_original
0  NYC--Kennedy         NYC    NYC--Kennedy
1  New York JFK         JFK    New York JFK
2    Nice (NCE)         NCE      Nice (NCE)
3    Roma (FCO)         FCO      Roma (FCO)
4   NYC-Kennedy         NYC     NYC-Kennedy

In [3]:
ciudades=df["ciudad"]
ciudades_list = [value for value in ciudades]
ciudades_list

['NYC--Kennedy',
 'New York JFK',
 'Nice (NCE)',
 'Roma (FCO)',
 'NYC-Kennedy',
 'Frankfurt (FRA)',
 'London Heathrow (LHR)',
 'Dublin (DUB)',
 'Brussels (BRU)',
 'London Heathrow LHR',
 'San Juan - Miami - Madrid',
 'Boston Logan (BOS)',
 'Paris - Orly',
 'London Stansted',
 'Lisboa',
 'AMSTERDAM',
 'Edinburgh (EDI)',
 'London Stansted (STN)',
 'Málaga - Pablo Picasso',
 'Istanbul (IST)',
 'Woodstock',
 'Miami (MIA)',
 'EWR Newark',
 'Lisbon',
 'New York / Newark',
 'Frankfurt Airport T2',
 'We are travelling from Miami to Madrid.',
 'Toronto/Frankfurt',
 'Dallas Fort Worth (DFW)',
 'Manchester (MAN)',
 'Dallas DFW',
 'Newark - Madrid',
 'Toronto-Lisbon-Madrid',
 'Lisbon (LIS)',
 'Toronto - Frankfurt',
 'Dublin']

In [4]:
url_ciudades= 'https://es.wikipedia.org/wiki/Anexo:Aeropuertos_seg%C3%BAn_el_c%C3%B3digo_IATA'
respuesta = requests.get(url_ciudades)

In [5]:
html = respuesta.text

In [6]:
sopa = BeautifulSoup(html, "html.parser")

In [7]:
tablas = sopa.find_all("table")

In [8]:
#!pip install lxml

In [9]:
# Create an empty dataframe to store the combined tables
df = pd.DataFrame()

# Iterate over the table elements
for tabla in tablas:
    # Parse the HTML content of the table into a dataframe
    tabla_df = pd.read_html(str(tabla))[0]

    # Add the rows from the table to the combined dataframe
    df = df.append(tabla_df, ignore_index=True)

In [10]:
df.head(10)

,0,Código IATA,Nombre,Sirve a,Región o estado,País,Código DAC
0,Operativo,NaN,NaN,NaN,NaN,NaN,NaN
1,No operativo,NaN,NaN,NaN,NaN,NaN,NaN
2,Militar,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,ABC,Aeropuerto de Albacete,Albacete,Castilla-La Mancha,España,NaN
4,NaN,ABC,Base Aérea de Los Llanos,Albacete,Castilla-La Mancha,España,NaN
5,NaN,AEP,Aeroparque Jorge Newbery,Buenos Aires,Buenos Aires,Argentina,NaN
6,NaN,AFA,Aeropuerto Internacional Suboficial Ayudante S...,San Rafael,Mendoza,Argentina,NaN
7,NaN,AGP,Aeropuerto de Málaga-Costa del Sol,Málaga,Andalucía,España,NaN
8,NaN,AGT,Aeropuerto Internacional Guaraní,Ciudad del Este,Alto Paraná,Paraguay,NaN
9,NaN,AMS,Aeropuerto de Ámsterdam-Schiphol,Ámsterdam,Holanda Septentrional,Países Bajos,NaN

In [11]:
df = df.iloc[3:]
df=df.drop([0,"Código DAC"],axis=1)

In [12]:
df.head(2)

  Código IATA                    Nombre   Sirve a     Región o estado    País
3         ABC    Aeropuerto de Albacete  Albacete  Castilla-La Mancha  España
4         ABC  Base Aérea de Los Llanos  Albacete  Castilla-La Mancha  España

In [13]:
df = df.reset_index(drop=True)
df.head(2)

  Código IATA                    Nombre   Sirve a     Región o estado    País
0         ABC    Aeropuerto de Albacete  Albacete  Castilla-La Mancha  España
1         ABC  Base Aérea de Los Llanos  Albacete  Castilla-La Mancha  España

In [14]:
df.to_csv("datos/codigo_iata.csv",index=False, header=True)